{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clients list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Clientfname</th>
                <th>Clientlname</th>
                <th>Clientaddress</th>
                <th>Clientphone1</th>
                <th>Clientphone2</th>
                <th>Clientfax</th>
                <th>Clientcity</th>
                <th>Clientdesc</th>
                <th>Clientdiscount</th>
                <th>Clientcreation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td>{{ client.clientFName }}</td>
                <td>{{ client.clientLName }}</td>
                <td>{{ client.clientAddress }}</td>
                <td>{{ client.clientPhone1 }}</td>
                <td>{{ client.clientPhone2 }}</td>
                <td>{{ client.clientFax }}</td>
                <td>{{ client.clientCity }}</td>
                <td>{{ client.clientDesc }}</td>
                <td>{{ client.clientDiscount }}</td>
                <td>{% if client.clientCreation %}{{ client.clientCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('client_show', { 'id': client.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('client_edit', { 'id': client.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_new') }}">Create a new client</a>
        </li>
    </ul>
{% endblock %}
