{% extends 'base.html.twig' %}

{% block body %}
    <h1>Client</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Clientfname</th>
                <td>{{ client.clientFName }}</td>
            </tr>
            <tr>
                <th>Clientlname</th>
                <td>{{ client.clientLName }}</td>
            </tr>
            <tr>
                <th>Clientaddress</th>
                <td>{{ client.clientAddress }}</td>
            </tr>
            <tr>
                <th>Clientphone1</th>
                <td>{{ client.clientPhone1 }}</td>
            </tr>
            <tr>
                <th>Clientphone2</th>
                <td>{{ client.clientPhone2 }}</td>
            </tr>
            <tr>
                <th>Clientfax</th>
                <td>{{ client.clientFax }}</td>
            </tr>
            <tr>
                <th>Clientcity</th>
                <td>{{ client.clientCity }}</td>
            </tr>
            <tr>
                <th>Clientdesc</th>
                <td>{{ client.clientDesc }}</td>
            </tr>
            <tr>
                <th>Clientdiscount</th>
                <td>{{ client.clientDiscount }}</td>
            </tr>
            <tr>
                <th>Clientcreation</th>
                <td>{% if client.clientCreation %}{{ client.clientCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('client_edit', { 'id': client.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
