{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bills list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Billnumber</th>
                <th>Billnotes</th>
                <th>Billtotal</th>
                <th>Billtotalchar</th>
                <th>Billdate</th>
                <th>Billanull</th>
                <th>Billreason</th>
                <th>Billpaid</th>
                <th>Billpaydate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bill in bills %}
            <tr>
                <td><a href="{{ path('bill_show', { 'id': bill.id }) }}">{{ bill.id }}</a></td>
                <td>{{ bill.billNumber }}</td>
                <td>{{ bill.billNotes }}</td>
                <td>{{ bill.billTotal }}</td>
                <td>{{ bill.billTotalChar }}</td>
                <td>{% if bill.billDate %}{{ bill.billDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if bill.billAnull %}Yes{% else %}No{% endif %}</td>
                <td>{{ bill.billReason }}</td>
                <td>{% if bill.billPaid %}Yes{% else %}No{% endif %}</td>
                <td>{% if bill.billPayDate %}{{ bill.billPayDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bill_show', { 'id': bill.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bill_edit', { 'id': bill.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bill_new') }}">Create a new bill</a>
        </li>
    </ul>
{% endblock %}
