{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bill creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.billNumber) }}
        {{ form_row(form.billNotes) }}
        {{ form_row(form.billDate) }}
        {{ form_row(form.billAnull) }}
        {{ form_row(form.billReason) }}
        {{ form_row(form.billPaid) }}
        {{ form_row(form.billPayDate) }}
        {{ form_row(form.client) }}
        <h3>Items</h3>
        <ul class="items" data-prototype="{{ form_widget(form.items.vars.prototype)|e('html_attr') }}">
            {# iterate over each existing tag and render its only field: name #}
            {% for item in form.items %}
                <li>{{ form_row(item.itemQuantity) }}</li>
                <li>{{ form_row(item.itemDesc) }}</li>
                <li>{{ form_row(item.itemValue) }}</li>
            {% endfor %}
        </ul>
        <input type="submit" value="Create" />
    {{ form_end(form) }}
    <script src="{{ asset('resources/js/new.bill.js') }}"></script>
    <ul>
        <li>
            <a href="{{ path('bill_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
