{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bill</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bill.id }}</td>
            </tr>
            <tr>
                <th>Billnumber</th>
                <td>{{ bill.billNumber }}</td>
            </tr>
            <tr>
                <th>Billnotes</th>
                <td>{{ bill.billNotes }}</td>
            </tr>
            <tr>
                <th>Billtotal</th>
                <td>{{ bill.billTotal }}</td>
            </tr>
            <tr>
                <th>Billtotalchar</th>
                <td>{{ bill.billTotalChar }}</td>
            </tr>
            <tr>
                <th>Billdate</th>
                <td>{% if bill.billDate %}{{ bill.billDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Billanull</th>
                <td>{% if bill.billAnull %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Billreason</th>
                <td>{{ bill.billReason }}</td>
            </tr>
            <tr>
                <th>Billpaid</th>
                <td>{% if bill.billPaid %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Billpaydate</th>
                <td>{% if bill.billPayDate %}{{ bill.billPayDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Items</th>

            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bill_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bill_edit', { 'id': bill.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
